@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Medium.eot');
    src: url('../fonts/Barlow-Medium.eot') format('embedded-opentype'),
        url('../fonts/Barlow-Medium.woff2') format('woff2'),
        url('../fonts/Barlow-Medium.woff') format('woff'),
        url('../fonts/Barlow-Medium.ttf') format('truetype'),
        url('../fonts/Barlow-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.eot');
    src: url('../fonts/Barlow-Regular.eot') format('embedded-opentype'),
        url('../fonts/Barlow-Regular.woff2') format('woff2'),
        url('../fonts/Barlow-Regular.woff') format('woff'),
        url('../fonts/Barlow-Regular.ttf') format('truetype'),
        url('../fonts/Barlow-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: #EFF6FF;
  background-repeat: no-repeat;
  background-image: url(../images/bg.jpg);
  background-size: 700px;
  background-repeat: no-repeat;
  margin: 0;

   
}

main {
  margin: 10px 60px 40px 770px;
}


h1,
h2 {
  margin-top: 40px;
  color: #7B8A92;
}

h3 {
  color: #96A5B1;
}

.logo_img {
  width: 150px;
  height: auto;
  margin-left: 60px;
  margin-top: 40px;
}

/* FACEBOOK AND LINKEDIN REGISTER BUTTON */

.social {
  display: inline-block;
}

button {
  width: 250px;
  height: 44px;
  padding: 3px;
  color: white;
  border: none;
}

.in {
  margin: 40px 0 40px 40px;
  background-color: #0076B6;
}

.fb {
  margin: 40px 30px 44px 0;
  background-color: #255A9B;
  }
  
.fb img,
.in img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-left: 0;
  padding-left: 0;
}

/* OR element */

.or {
  text-align: center;
  }

.or-line {
  width: 150px;
  margin-bottom: 4px;
  display: inline-block;
  border: 1px solid #AFAFAF;
}

.or-text {
  margin: 0 10px;
  font-size: 14px;
}




/* REGISTER FORM */

.email_container,
.phone_container {
  width: 250px;
  height: 60px;
  padding: 3px;
  display: inline-block;
  color: #AFAFAF;
  border: 2px solid #EEEEEE;
  background-color: #ffffff;
}

.email_container {
  margin: 40px 30px 40px 0;
}

.phone_container {
  margin: 40px 0 40px 30px;
}


input[type=email],
input[type=tel] {
  width: 192px;
  height: 40px;
  border: none;
  color: black;
  font-size: 16px;
}

input[type=email]:focus,
input[type=tel]:focus {
  outline: none; 
}

.email_container:focus-within,
.phone_container:focus-within {
  border-left: 2px solid #3698FB;
}



/* TERMS OF USE */


.checkbox {
  margin-top: 100px;
  
}

.btn {
  margin-top: 50px;
  width: 200px;
  height: 30px;
  border: 1px solid rgb(44, 125, 230);
  color: white;
  background-color: rgb(44, 125, 230);
  border-radius: 8px;
}