body {
  font-family: 'Barlow', sans-serif;
  background-color: #EFF6FF;
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;

   
}

main {
  margin-left: 60%;
}

h1,
h2 {
  margin-top: 40px;
  color: #7B8A92;
}

h3 {
  color: #96A5B1;
}
p {
  margin-left: 180px;
}



.logo {
  width: 150px;
  height: auto;
  margin-left: 60px;
  margin-top: 40px;
}

table .fb {
  width: 200px;
  height: 40px;
  background-color: #255A9B;
  border: none;
  color: white;
  text-align: center;
  
}

table .in {
  width: 200px;
  height: 40px;
  margin: 120px;
  background-color: #0076B6;
  border: none;
  color: white;
  text-align: center;
  
}
.social img {
  width: 20px;
  height: 20px;
}

input[type=email],
input[type=tel] 
{
width: 200px;
height: 40px;
  
color: #AFAFAF;
font-size: 16px;
}

.checkbox {
  margin-top: 100px;
  
}

.btn {
  margin-top: 50px;
  width: 200px;
  height: 30px;
  border: 1px solid rgb(44, 125, 230);
  color: white;
  background-color: rgb(44, 125, 230);
  border-radius: 8px;
}