body {
  font-size: 90%;
  font-family: sans-serif;
  min-height: auto;
}

form {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

label:first-child {
  margin-top: 0;
}

label {
  display: block;
  margin-top: 1em;
  margin-bottom: .5em;
}

input[type=password], input[type=submit], input[type=text] {
  width: 95%;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Добавьте ваш код под комментарием */
input[required] {
background-color: #fcf8e3;
}

input[type="password"] {
background-color: #f2dede;
}

input[type="submit"] {
border-color: green;
}
