@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow-Regular.eot');
    src: url('fonts/Barlow-Regular.eot') format('embedded-opentype'),
        url('fonts/Barlow-Regular.woff2') format('woff2'),
        url('fonts/Barlow-Regular.woff') format('woff'),
        url('fonts/Barlow-Regular.ttf') format('truetype'),
        url('fonts/Barlow-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: #EFF6FF;
  background-repeat: no-repeat;
  background-image: url(images/bg.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  margin: 0;

   
}

main {
 margin-left: 950px;
 margin-right: 30px;
  
}

h1,
h2 {
  margin-top: 20px;
  color: #7B8A92;
}

h3 {
  color: #96A5B1;
}

.logo_img {
  width: 150px;
  height: auto;
  margin-left: 60px;
  margin-top: 40px;
}

/* FACEBOOK AND LINKEDIN REGISTER BUTTON */

.social {
  display: inline-block;
}

button {
  width: 250px;
  height: 44px;
  padding: 3px;
  color: white;
  border: none;
}

.fb {
  margin: 30px 30px 20px 0;
  background-color: #255A9B;
  }

.in {
  margin: 30px 0 20px 40px;
  background-color: #0076B6;
}
  
.fb img,
.in img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-left: 0;
  padding-left: 0;
}


/* OR element */
.or {
  display: inline-block;
  margin-left: 120px;

  }

.or-line {
  width: 150px;
  margin-bottom: 4px;
  display: inline-block;
  border: 1px solid #AFAFAF;
}

.or-text {
  margin: 0 10px;
  font-size: 12px;
}


/* REGISTER FORM */
.email_container,
.phone_container {
  width: 250px;
  height: 60px;
  padding: 3px;
  display: inline-block;
  color: #AFAFAF;
  border: 2px solid #EEEEEE;
  background-color: #ffffff;
}

.email_container {
  margin: 20px 30px 30px 0;
}

.phone_container {
  margin: 20px 0 30px 30px;
}

input[type=email],
input[type=tel] {
  width: 192px;
  height: 40px;
  border: none;
  color: black;
  font-size: 16px;
}

input[type=email]:focus,
input[type=tel]:focus {
  outline: none; 
}

.email_container:focus-within,
.phone_container:focus-within {
  border-left: 2px solid #3698FB;
}


/* RADIO BUTTONS  - TYPE OF INVESTOR  */
.investor_type { 
  display: inline-block; 
  margin-top: 30px;
  
}
.investor_var {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  
}


.investor_type .info {
  font-size: 12px;
  font-weight: bold;
  color: #AFAFAF;
  border: 1px solid #AFAFAF;
  border-radius: 50%;
  padding: 0px 5px;
}

 


.info_text {
  display: block;
  opacity: 0;
  width: 180px;
  height: 60px;
  margin-top: 30px;
  font-size: 12px;
  color: #AFAFAF;
  border: 1px solid  #AFAFAF;
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  text-align: center; 
}

.info:hover  + .info_text {
  opacity: 1;
}




/* TERMS OF USE */
.checkbox {
  margin-top: 50px;
  }

.checkbox a {
  color: #3698FB;
}

.btn {
  margin-top: 50px;
  width: 250px;
  height: 40px;
  border: 1px solid#3698FB;
  color: white;
  background-color: #3698FB;
  border-radius: 8px;
}
