/* 
-----------------COLORS-----------------
#EFF6FF (фон)
#2A4A5C (базовый текст)
#255A9B (кнопка fb)
#0076B6 (кнопка in)
#3698FB (кнопка Create Account)
#7B8A92 (тексты Title - "Get iintoo it today" и "What type of investor are you?")
#96A5B1 (тексты подзаголовков)
#AFAFAF (серый текст email, phone, подсказка и т.д)
#EEEEEE (рамки для input)
#FFFFFF (белый)

 */


/* -----------------GLOBAL STYLE----------------- */


@font-face {
  font-family: 'Barlow';
  src: url('fonts/Barlow.oet') format('oet'),
        url('fonts/Barlow.svg') format('svg'),
        url('fonts/Barlow.ttf') format('ttf'),
        url('fonts/Barlow.woff2') format('woff2'),
        url('fonts/Barlow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #EFF6FF;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}


.container {
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  margin:  100px auto;
  width: 1520px;
  display: block;
  background-color: #ffffff;
}

.logo-img {
  width: 300px;
  display: inline-block;
  padding: 50px 50px 0 50px;
}

.register-container {
  width: 640px;
  height: 800px;
  display: inline-block;
  /* border: 2px solid tomato; */
  margin-left: 820px;
  
}

h1 {
  font-weight: 700;
  font-size: 32px;
  color: #7B8A92;
  margin-bottom: 15px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  color: #7B8A92;
  margin-bottom: 20px;

}

h3 {
  font-weight: 400;
  font-size: 20px;
  color: #96A5B1;
  margin-bottom: 30px;
}

p {
  font-weight: 400;
  font-size: 16px;
   color: #96A5B1;
   margin-bottom: 40px;
}

/* -----------------BUTTONs----------------- */


.social-btn {
  display: inline-block;
  justify-items: center;
  margin-bottom: 30px;
}
.social-btn button{
  width: 260px;
  height: 40px;
  font-size: 16px;
  color: #ffffff;
}

.fb-btn {
  
  margin-right: 116px;
  background-color: #255A9B;
  border: 2px solid  #255A9B;
  
}

.in-btn {
  background-color: #0076B6;
  border: 2px solid #0076B6;
}

.logo-btn {
  width: 20px;
  margin-right: 20px;
  vertical-align: middle;
}

.or {
  text-align: center;
  margin-bottom: 30px;
}
.or-line {
  width: 150px;
  margin-bottom: 4px;
  display: inline-block;
  border: 1px solid #AFAFAF;
}

.or-text {
  margin: 0 10px;
  font-size: 12px;
}


/* REGISTER FORM */
.email_container,
.phone_container {
  width: 260px;
  height: 65px;
  padding: 3px;
  display: inline-block;
  color: #AFAFAF;
  border: 2px solid #EEEEEE;
  background-color: #ffffff;
}

.email_container {
  margin: 0 115px 30px 0;
}

.phone_container {
  margin: 0 0 30px 0;
}

input[type=email],
input[type=tel] {
  width: 250px;
  height: 35px;
  margin-bottom: 5px;
  border: none;
  color: black;
  font-size: 16px;
}

input[type=email]:focus,
input[type=tel]:focus {
outline: none; 
}

.email_container:focus-within,
.phone_container:focus-within {
  border-left: 2px solid #3698FB;
}

/* RADIO BUTTONS  - TYPE OF INVESTOR  */
.investor_type { 
  display: inline-block; 
  margin-top: 30px;
  
}
.investor_var {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  
}


.investor_type .info {
  font-size: 12px;
  font-weight: bold;
  color: #AFAFAF;
  border: 1px solid #AFAFAF;
  border-radius: 50%;
  padding: 0px 5px;
}

 


.info_text {
  display: block;
  opacity: 0;
  width: 180px;
  height: 60px;
  margin-top: 30px;
  font-size: 12px;
  color: #AFAFAF;
  border: 1px solid  #AFAFAF;
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  text-align: center; 
}

.info:hover  + .info_text {
  opacity: 1;
}




/* TERMS OF USE */
.checkbox {
  margin-top: 50px;
  }

.checkbox a {
  color: #3698FB;
}

.btn {
  margin-top: 50px;
  width: 250px;
  height: 40px;
  border: 1px solid#3698FB;
  color: white;
  background-color: #3698FB;
  border-radius: 8px;
}


